.tracks {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 6%;
}

.track-inner {
    width: 40%;
    margin: 4px auto 0 10px;
    padding: 10px;
}

.track-inner:hover {
    background: #ccc;
}

.tracks-inner {
    margin: 4px 10px 20px;
}

.tracks-title {
    display: inline-block;
    float: right;
    margin: 10px 0;
}

.album-name {
    display: inline-block;
    margin-left: 20px;
}

.track-number,
.track-number,
.track-duration,
.play-icon {
    padding: 2px 4px;
}

.play-icon {
    cursor: pointer;
}

.track-name {
    display: inline-block;
    width: 70%;
}

.artist-name {
    display: inline-block;
    margin: 10px;
}