.artists-block {
    margin: 0;
    padding: 20px 10%;
}

.artists-title {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px;
}

.artist {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px auto;
    border: none;
}
